* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4f4f4;
}

/* HEADER */

.header {
  background: #e60023;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  width: 200px;
}

.nav-icons i {
  color: white;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}

/* BREADCRUMB */

.breadcrumb {
  width: 1200px;
  margin: 20px auto;
  font-size: 14px;
  color: #666;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
}

.breadcrumb span {
  margin: 0 6px;
}

/* BANNER */

.topic-banner {
  width: 1200px;
  margin: auto;

  background: linear-gradient(45deg, #ff6a00, #ff9900);

  padding: 50px;

  border-radius: 10px;

  color: white;
}

.topic-banner h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* SECTION TITLE */

.section-title {
  width: 1200px;

  margin: 30px auto 10px;

  font-size: 24px;
}

/* PRODUCT GRID */

.product-list {
  width: 1200px;

  margin: 20px auto;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 25px;
}

/* PRODUCT CARD */

.product-card {
  background: white;

  border-radius: 10px;

  padding: 15px;

  position: relative;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;

  height: 220px;

  object-fit: contain;

  border-radius: 6px;

  transition: 0.3s;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card h3 {
  font-size: 16px;

  margin: 10px 0;
}

.rating {
  color: #f5a623;
}

/* PRICE */

.price {
  margin-top: 5px;
}

.new {
  color: red;

  font-weight: bold;

  font-size: 18px;
}

.old {
  text-decoration: line-through;

  color: gray;

  margin-left: 8px;
}

/* DISCOUNT BADGE */

.discount {
  position: absolute;

  top: 10px;

  left: 10px;

  background: red;

  color: white;

  padding: 4px 8px;

  font-size: 12px;

  border-radius: 5px;
}

/* CART BUTTON */

.cart {
  position: absolute;

  bottom: 15px;

  right: 15px;

  background: #6c4cff;

  color: white;

  border: none;

  width: 35px;

  height: 35px;

  border-radius: 50%;

  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #f5f5f5;
  padding: 40px 80px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 23%;
}

.footer-log {
  width: 180px;
  margin-bottom: 15px;
}

.footer-logo {
  width: 45px;
  margin-bottom: 15px;
}

.footer-logoo {
  width: 140px;
  margin-bottom: 15px;
}

.footer-col h3 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin: 8px 0;
  cursor: pointer;
}

.footer-col li:hover {
  color: red;
}

.footer a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
